<html>
<head>
<title>
the application form </title>
</head>
<body bgcolor="gold">
<center>
<h1>ADMISSION FORM<h1>
</center>
<form action="/" method="POST">
first name:-
<input type="text" name="fn"><br>
midle name:-
<input type="text" name="sn"><br>
last name:-
<input type="text" name="ln"><br>
gender:-

<input type="text" name="gen" ><br>
mobile no:-
<input type="number" name="sno" value="number"><br>
select course:-
<input type="text" name="cor" ><br>

<center>
<input type="submit"value="submit">
</center>
</form>
</body>
</html>